<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mad Libs Party</title>
</head>
<body>
  <h1>Generic Super Hero Movie</h1>
  <p>Meet our hero @Model.Name, </p>
  <p>a super-intelligent @Model.UnrealisticProfession.</p>
  <p>A run-in with the @Model.Country military leads him to create his alter-ego @Model.SillyWord,</p>  
  <p>a @Model.Color @Model.AdjectiveOne giant capable of great destruction.</p>
  <p>He @Model.Adverb battles the military with his girlfriend @Model.SillyName.</p>
  <p>Eventually it is discovered that our hero's long-time colleague @Model.SillyNameTwo, distinguished by his @Model.FacialFeature,</p>
  <p>is trying to turn @Model.SillyWord into a weapon, leading to a climactic (if pointless) battle in</p>
  <p>downtown @Model.UsCity with an evil version of the same giant alter-ego called @Model.SillyNameThree.</p>
  <p>Eventually the enemey is subdued by @Model.Verb ing him with a @Model.Noun. In the final reel,</p>
  <p>@Model.FormerBadassActorNowSellingOut appears to propose joining him in a @Model.NounTwo.</p>
</body>
</html>