<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mad Libs Party</title>
</head>
<body>
  <h1>Mad Lib in Space</h1>
  <p>Hello, my name is astronaut @Model.WordListDictionary[1]. </p>
  <p>I am on my way to planet @Model.WordListDictionary[2].</p>
  <p>I will be gone for @Model.WordListDictionary[3] days.</p>  
  <p>I am very @Model.WordListDictionary[4] about the trip but I will miss my @Model.WordListDictionary[5].</p>
  <p>I have heard that the atmosphere there is @Model.WordListDictionary[6].</p>
  <p>Luckily my @Model.WordListDictionary[7] packed me a jacket to keep me @Model.WordListDictionary[8].</p>
  <p>When I land on the planet I will @Model.WordListDictionary[9] for joy.</p>
  <p>I am @Model.WordListDictionary[10] to walk on another planet.</p>
  <p>I could not be more @Model.WordListDictionary[11] for this trip.</p>
</body>
</html>